<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Estás logeado</h1>
    <form id="loginForm">
        <input type="email" name="email" id="email" placeholder="Introduce tu email" required>
        <input type="password" name="password" id="password" placeholder="Introduce tu password" required>
        <button type="submit" id="loginButton">Register</button>
        <div id="mensaje"></div>
    </form>
    <script type="module" src="../utils/configLogin.js"></script>
</body>
</html>